<div class="container">
  <h1 class="text-center mt-4">Bienvenue sur votre gestionnaire de tickets</h1>
  <p class="text-center">Inscrivez-vous, n'oubliez pas de choisir le bon prof et ensuite il n'y a plus qu'à faire des tickets quand vous êtes bloqués pour que le prof vienne vous voir !!</p>
</div>
